

#flight_to,#flight_from{
display:none;
}

.flight{
 
    .flight_cards{
        box-shadow: 0 0 25px rgba(0,0,0,.5);
        @media (min-width: 992px) {
            width: 996px;
        }
        @media (max-width: 575.98px) {
            transform: scale(0.8);
        }
        @media (min-width: 576px) and (max-width: 767.98px) {
            transform: scale(0.8);
        }
        
    }
    .flight-selector-from{
        margin-bottom: 50px;
    }
    .flight-selector-to, .flight-selector-from{
        padding:20px 35px;
        margin-top: 5%;
        align-items: center;
        
        .flight-selector_top{
            height: 66px;
            background-color: $flight-primary;
            border-bottom: 1px solid rgba(0,0,0,.1);
            display: flex;
            align-items: center;
            
            img{
                height: 50px;
                width: 50px;
  
            }
            .flight-selector_top-icon-from{
                transform: rotate(180deg);
            }
            .flight-selector_top-header{
                align-items: center;
                h1{
                    padding:0 20px 0 20px;
                }
            }
        }
        .flight-selector_middle{

            display: flex;
             justify-content: space-around;
             align-items: center;
            height: 112px;
            background-color: $flight-secondary;
            border-bottom: 1px solid rgba(0,0,0,.3);
            
            .flight-selector_middle-content{
                width: auto;
                overflow: hidden;
                display: flex;
                margin:0 13%;
            .flight-selector_middle-list{
              
               ul{
                margin: 0;
                display: flex;
                   li{
                    background:white;
                    margin:0 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    width: 132px;
                    border: 1px black solid;
                    &:hover{
                        background:$btn-secondary;
                        color:white;
                        cursor: pointer;
                    }
                    &:active{
                        background:$btn-secondary;
                        color:white;
                        cursor: pointer;
                    }
                    span{
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                   }
               }
            }
         }
        }
        .flight-selector_bottom{
            height: 161px;
            background-color:$flight-tertiary;
            display: flex;
            align-items: center;
            justify-content: center;
            .flight-selector_bottom-time{
                font-size: 40px;
                font-weight: 700;
                line-height: 48px;
            }
            .flight-selector_bottom-icons{
                display: flex;
                align-items: center;
                margin:0 30px;
                width: 240px;
                @media (max-width: 575.98px) {
                    margin:0;
                }
                @media (min-width: 576px) and (max-width: 767.98px) {
                    margin:0;
                }
              img{
                  margin: 15px;
                  max-width: 50px;
                  max-height: 50px;
                  @media (max-width: 575.98px) {
                    transform: scale(0.5);
                    margin:0;
                }
                @media (min-width: 576px) and (max-width: 767.98px) {
                    transform: scale(0.5);
                    margin:0 0 0 10px;
                }
                @media (min-width: 768px) and (max-width: 991.98px) {
                    transform: scale(0.5);
                    margin:0 0 0 10px;
                }
                
              }
              .flight-selector_bottom-icons-airplane{
                  transform: rotate(90deg);
              }
            }
            .flight-selector_bottom-btn{
                margin-left: 10%;
            }
        }
        #flight-selector_ticketTo{
            display: flex;
       
        }
        #flight-selector_ticketFrom{
            display: flex;
        }
        .flight-selector_ticket{
            
            background-color:$flight-tertiary;
            .flight-selector_ticket-class-acceptTo{
                transform: scale(1.05) !important;
            }
            .flight-selector_ticket-class-acceptFrom{
                transform: scale(1.05) !important;
            }
            .flight-selector_ticket-classTo,
            .flight-selector_ticket-classFrom{
                max-width: 300px;
                margin:30px 10px 30px 10px;
                display: flex;
                flex-direction: column;
                padding:0;
                box-shadow: 0 0 25px rgba(0,0,0,.2);
                transform: scale(1);
                cursor: pointer;
                
             
                
                &:hover {
                    transform: scale(1.05);
                }     
              
                .flight-selector_ticket-class-header{
                    display: flex;
                    justify-content: center;
                    padding: 10px;
                    color:white;
                    margin-bottom: 10px;
                }
                
                .flight-selector_ticket-class-header-plus{
                    background:rgb(250, 106, 10);
                }
                .flight-selector_ticket-class-header-go{
                    background:blue;
                }
                .flight-selector_ticket-class-header-basic{
                    background:blue;
                }
                .flight-selector_ticket-class-list{
                    height: 100%;
                    li{
                        list-style:disc;
                        font-size: 12px;
                        padding: 5px 10px 5px 10px;
                        list-style-position: inside;
                        
                    }
                }
                .flight-selector_ticket-class-price{
                    display: flex;
                    justify-content: center;
                    padding: 10px;
                    color:white;
                    bottom: 0;
                }
            }
        }
     }
    #acceptTickets{
        display: none;
    }
}
