$aside-primary:#f0eeee;
// 
$flight-background:#cacaca;
$flight-primary:#b4b4b4;
$flight-secondary:#dfdfdf;
$flight-tertiary:rgb(255, 255, 255);
$flight-border:1px solid rgba(0, 0, 0, 0.1);
// 
$btn-primary:rgb(15, 15, 170);
$btn-secondary:#0000ff;
