body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
  background-color: #cacaca !important;
}

body > section p,
body > main p {
  font-size: 1rem;
}

footer#footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section_referencje_kontakt-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.6)), url("../images/backgrounds/kontakt/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main_oNas__oferta_background {
  background-color: black;
}

#socialMedia-fix {
  position: fixed;
  top: 200px;
  right: -15px;
}

#socialMedia-fix .fixedFb,
#socialMedia-fix .fixedIn {
  height: 50px;
  width: 50px;
  position: relative;
  left: 0;
}

#socialMedia-fix .fixedFb:hover,
#socialMedia-fix .fixedIn:hover {
  left: -10px;
}

.main_background {
  padding-left: 314px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

video {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

form {
  height: 250px;
  width: 400px;
  margin-top: 20%;
  padding: 10px;
  z-index: 2;
  background-color: white;
  border: black solid 1px;
}

.flight {
  display: none;
}

.flight .flight_cards {
  width: 996px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.flight .flight-selector-to, .flight .flight-selector-from {
  padding: 20px 35px;
  margin-top: 10%;
  align-items: center;
}

.flight .flight-selector-to .flight-selector_top, .flight .flight-selector-from .flight-selector_top {
  height: 66px;
  background-color: #b4b4b4;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.flight .flight-selector-to .flight-selector_top img, .flight .flight-selector-from .flight-selector_top img {
  height: 50px;
  width: 50px;
}

.flight .flight-selector-to .flight-selector_top .flight-selector_top-icon-from, .flight .flight-selector-from .flight-selector_top .flight-selector_top-icon-from {
  transform: rotate(180deg);
}

.flight .flight-selector-to .flight-selector_top .flight-selector_top-header, .flight .flight-selector-from .flight-selector_top .flight-selector_top-header {
  align-items: center;
}

.flight .flight-selector-to .flight-selector_top .flight-selector_top-header h1, .flight .flight-selector-from .flight-selector_top .flight-selector_top-header h1 {
  padding: 0 20px 0 20px;
}

.flight .flight-selector-to .flight-selector_middle, .flight .flight-selector-from .flight-selector_middle {
  height: 112px;
  background-color: #dfdfdf;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
}

.flight .flight-selector-to .flight-selector_middle .flight-selector_middle-content, .flight .flight-selector-from .flight-selector_middle .flight-selector_middle-content {
  width: auto;
  overflow: hidden;
  display: flex;
  margin: 0 13%;
}

.flight .flight-selector-to .flight-selector_middle .flight-selector_middle-content .flight-selector_middle-list ul, .flight .flight-selector-from .flight-selector_middle .flight-selector_middle-content .flight-selector_middle-list ul {
  margin: 0;
  display: flex;
}

.flight .flight-selector-to .flight-selector_middle .flight-selector_middle-content .flight-selector_middle-list ul li, .flight .flight-selector-from .flight-selector_middle .flight-selector_middle-content .flight-selector_middle-list ul li {
  background: white;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 132px;
  border: 1px black solid;
}

.flight .flight-selector-to .flight-selector_middle .flight-selector_middle-content .flight-selector_middle-list ul li:hover, .flight .flight-selector-from .flight-selector_middle .flight-selector_middle-content .flight-selector_middle-list ul li:hover {
  background: #0000ff;
  color: white;
  cursor: pointer;
}

.flight .flight-selector-to .flight-selector_middle .flight-selector_middle-content .flight-selector_middle-list ul li:active, .flight .flight-selector-from .flight-selector_middle .flight-selector_middle-content .flight-selector_middle-list ul li:active {
  background: #0000ff;
  color: white;
  cursor: pointer;
}

.flight .flight-selector-to .flight-selector_middle .flight-selector_middle-content .flight-selector_middle-list ul li span, .flight .flight-selector-from .flight-selector_middle .flight-selector_middle-content .flight-selector_middle-list ul li span {
  text-transform: uppercase;
  font-weight: bold;
}

.flight .flight-selector-to .flight-selector_bottom, .flight .flight-selector-from .flight-selector_bottom {
  height: 161px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flight .flight-selector-to .flight-selector_bottom .flight-selector_bottom-time, .flight .flight-selector-from .flight-selector_bottom .flight-selector_bottom-time {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

.flight .flight-selector-to .flight-selector_bottom .flight-selector_bottom-icons, .flight .flight-selector-from .flight-selector_bottom .flight-selector_bottom-icons {
  display: flex;
  align-items: center;
  margin: 0 30px;
  width: 240px;
}

.flight .flight-selector-to .flight-selector_bottom .flight-selector_bottom-icons img, .flight .flight-selector-from .flight-selector_bottom .flight-selector_bottom-icons img {
  margin: 15px;
  max-width: 50px;
  max-height: 50px;
}

.flight .flight-selector-to .flight-selector_bottom .flight-selector_bottom-icons .flight-selector_bottom-icons-airplane, .flight .flight-selector-from .flight-selector_bottom .flight-selector_bottom-icons .flight-selector_bottom-icons-airplane {
  transform: rotate(90deg);
}

.flight .flight-selector-to .flight-selector_bottom .flight-selector_bottom-btn, .flight .flight-selector-from .flight-selector_bottom .flight-selector_bottom-btn {
  margin-left: 10%;
}

.flight .flight-selector-to .flight-selector_ticket, .flight .flight-selector-from .flight-selector_ticket {
  background-color: white;
}

.flight .flight-selector-to .flight-selector_ticket .flight-selector_ticket-class, .flight .flight-selector-from .flight-selector_ticket .flight-selector_ticket-class {
  max-width: 300px;
  margin: 30px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  padding: 0;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.flight .flight-selector-to .flight-selector_ticket .flight-selector_ticket-class:hover, .flight .flight-selector-from .flight-selector_ticket .flight-selector_ticket-class:hover {
  transform: scale(1.05);
}

.flight .flight-selector-to .flight-selector_ticket .flight-selector_ticket-class .flight-selector_ticket-class-header, .flight .flight-selector-from .flight-selector_ticket .flight-selector_ticket-class .flight-selector_ticket-class-header {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
}

.flight .flight-selector-to .flight-selector_ticket .flight-selector_ticket-class .flight-selector_ticket-class-header-plus, .flight .flight-selector-from .flight-selector_ticket .flight-selector_ticket-class .flight-selector_ticket-class-header-plus {
  background: #fa6a0a;
}

.flight .flight-selector-to .flight-selector_ticket .flight-selector_ticket-class .flight-selector_ticket-class-header-go, .flight .flight-selector-from .flight-selector_ticket .flight-selector_ticket-class .flight-selector_ticket-class-header-go {
  background: blue;
}

.flight .flight-selector-to .flight-selector_ticket .flight-selector_ticket-class .flight-selector_ticket-class-header-basic, .flight .flight-selector-from .flight-selector_ticket .flight-selector_ticket-class .flight-selector_ticket-class-header-basic {
  background: blue;
}

.flight .flight-selector-to .flight-selector_ticket .flight-selector_ticket-class .flight-selector_ticket-class-list, .flight .flight-selector-from .flight-selector_ticket .flight-selector_ticket-class .flight-selector_ticket-class-list {
  height: 100%;
}

.flight .flight-selector-to .flight-selector_ticket .flight-selector_ticket-class .flight-selector_ticket-class-list li, .flight .flight-selector-from .flight-selector_ticket .flight-selector_ticket-class .flight-selector_ticket-class-list li {
  list-style: disc;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  list-style-position: inside;
}

.flight .flight-selector-to .flight-selector_ticket .flight-selector_ticket-class .flight-selector_ticket-class-price, .flight .flight-selector-from .flight-selector_ticket .flight-selector_ticket-class .flight-selector_ticket-class-price {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: white;
  bottom: 0;
}

.btn {
  padding: .5rem 2.4rem !important;
}

.btn-primary {
  background-color: #0000ff !important;
  border-color: #0000ff !important;
  text-transform: uppercase !important;
  font-weight: bold !important;
}

.btn-primary:hover, .btn-primary:active {
  color: color-yiq(#0f0faa) !important;
  border-color: #0f0faa !important;
  background-color: #0f0faa !important;
}

.btn-primary:active {
  border-color: #0000ff !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(205, 202, 235, 0.5) !important;
}

a.control_prev,
a.control_next {
  position: absolute;
  top: 10%;
  z-index: 999;
  display: block;
  padding: 3% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover,
a.control_next:hover {
  opacity: 1;
  text-decoration: none;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 15px;
  border-radius: 2px 0 0 2px;
}

aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 294px;
  padding-top: 10px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  color: #343434;
  background: #f0eeee;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

aside .adise_logo {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  display: block;
  text-align: center;
}

aside .adise_logo img {
  max-width: 125px;
  max-height: 125px;
}

aside .aside_card .card {
  border-left: none;
  border-right: none;
}

aside .aside_card .card .card-header {
  padding: 0;
  background-color: #f0eeee;
}

aside .aside_card .card .card-header button {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}

aside .aside_card .card .card-header-sum-price {
  display: flex;
  align-items: center;
  padding: .375rem .75rem;
}

aside .aside_card .card .card-header-price {
  margin-left: auto;
  font-weight: 700;
  text-align: right;
}

aside .card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

aside .card-body h2, aside .card-body h3 {
  font-size: 16px;
  margin: 0;
}

.airplanes .airplane img {
  position: relative;
}

.airplanes .airplane svg {
  position: absolute;
  height: 100%;
  width: auto;
}

.airplanes .airplane svg rect {
  cursor: pointer;
  fill-opacity: 0.34902;
}

.airplanes .airplane .status-available {
  fill: #00ff14;
}

.airplanes .airplane .status-available:hover {
  fill: #001aff;
}

.airplanes .airplane .status-reservation {
  fill: #001aff;
}

.airplanes .airplane .status-booked {
  fill: #ff0000;
  cursor: default;
}

.baggage {
  display: none;
  margin-top: 10%;
}

.baggage .baggage_box .baggage_box-top, .baggage .baggage_box .baggage_box-middle, .baggage .baggage_box .baggage_box-bot {
  background-color: white;
  display: flex;
  align-items: center;
  width: 995px;
  padding-left: 5%;
  margin-bottom: 0;
}

.baggage .baggage_box .baggage_box-top {
  height: 100px;
  display: flex;
  background-color: #b4b4b4;
}

.baggage .baggage_box .baggage_box-top h2 {
  text-transform: uppercase;
}

.baggage .baggage_box .baggage_box-middle {
  height: 100px;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.baggage .baggage_box .baggage_box-middle .baggage_box-middle-box {
  align-items: center;
}

.baggage .baggage_box .baggage_box-middle .form-control {
  width: 60px;
  height: 50px;
  margin-left: 20px;
}

.baggage .baggage_box .baggage_box-middle h2 {
  margin-left: 20px;
  margin-bottom: 0;
}

.baggage .baggage_box .baggage_box-bot {
  height: 400px;
  justify-content: space-around;
}

.baggage .baggage_box .baggage_box-bot .baggage_box-bot-options {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  height: 200px;
  width: 200px;
  align-items: center;
  cursor: pointer;
}

.baggage .baggage_box .baggage_box-bot .baggage_box-bot-options:hover {
  transform: scale(1.05);
}

.baggage .baggage_box .baggage_box-bot .baggage_box-bot-options img {
  max-height: 100px;
  max-width: 100px;
  margin-bottom: 5px;
}

.baggage .baggage_box .baggage_box-bot .baggage_box-bot-options h4 {
  font-weight: bold;
}

.baggage .baggage_box .baggage_box-bot .baggage_box-bot-options span {
  font-weight: bold;
}

.baggage .baggage_box .baggage_box-bot .baggage_box-bot-button {
  position: absolute;
  bottom: 20px;
}

.summary {
  display: none;
  margin-top: 10%;
}

.summary .summary_box .summary_box-top, .summary .summary_box .summary_box-one, .summary .summary_box .summary_box-two, .summary .summary_box .summary_box-three, .summary .summary_box .summary_box-four, .summary .summary_box .summary_box-five {
  background-color: white;
  display: flex;
  align-items: center;
  width: 995px;
  padding-left: 5%;
  margin-bottom: 0;
}

.summary .summary_box .summary_box-top {
  height: 100px;
  display: flex;
  background-color: #b4b4b4;
}

.summary .summary_box .summary_box-top h2 {
  text-transform: uppercase;
}

.summary .summary_box .summary_box-one, .summary .summary_box .summary_box-two, .summary .summary_box .summary_box-three, .summary .summary_box .summary_box-four {
  height: 100px;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.summary .summary_box .summary_box-one .summary_box-middle-box, .summary .summary_box .summary_box-two .summary_box-middle-box, .summary .summary_box .summary_box-three .summary_box-middle-box, .summary .summary_box .summary_box-four .summary_box-middle-box {
  align-items: center;
}

.summary .summary_box .summary_box-one h2, .summary .summary_box .summary_box-two h2, .summary .summary_box .summary_box-three h2, .summary .summary_box .summary_box-four h2 {
  margin-left: 20px;
  margin-bottom: 0;
}

.summary .summary_box .summary_box-four, .summary .summary_box .summary_box-five {
  border-bottom: none;
}

.summary .summary_box .summary_box-one .summary_box-one-box {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  margin-right: 50px;
  height: 60px;
}

.summary .summary_box .summary_box-one .summary_box-one-box div {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  align-items: center;
}

.summary .summary_box .summary_box-one .summary_box-one-box img {
  height: 50px;
  width: 50px;
}

.summary .summary_box .summary_box-three {
  display: flex;
  justify-content: space-around;
}

.summary .summary_box .summary_box-three span {
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.summary .summary_box .summary_box-four .summary_box-four-box {
  align-items: center;
}

.summary .summary_box .summary_box-four .summary_box-four-box div:last-child {
  margin-left: 20%;
}

.summary .summary_box .summary_box-five {
  height: 100px;
}
